html{
    background-color: #535a5e;
    display: grid;
    place-items: center;
}

.base{
    width: 400px;
    height: 690px;
    background-color: black;
}
.kasio{
    position: relative;
    left: 25px;
    color: #d7d6d1;
}


.calcData{
    color: #d7d6d1;
    position: relative;
    left: 25px;
    bottom: 5px;
    font-size: small;
}

.model{
    color: #d7d6d1;
    position: relative;
    left: 25px;
    bottom: 20px;
    font-size: small
}

.base1{
    position: relative;
    left: 25px;
    width: 350px;
    height: 600px;
    bottom: 30px;
}

.screen{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 350px;
    height: 160px;
    background-color: #96ab9f;
}

.numerosRes{
    display: flex;
    align-items: flex-end;
    background-color: #96ab9f;
    font-size: large;
    max-width: 200px;
    height: 70px;
    color: white;
}


.numeros{
    display: flex;
    align-items: flex-end;
    background-color: #96ab9f;
    font-size: large;
    position: relative;
    max-width: 200px;
    height: 70px;
    color: white;
}


.addNumeros{
    display: flex;
    align-items: flex-end;
    background-color: #252422;
    font-size: large;
    width: 20px;
    height: 70px;
    position: relative;
    bottom: 88px;
    left: 200px;
}

.baseOfAll{
    position: relative;
    width: 350px;
    height: 440px;
    background-color: #252422;
    display: flex;
    flex-flow: row wrap;
}

button{
    width: 86px;
    height: 87px;
    background-color: #232628;
    color: white;
    border: none;
}

.raiz:hover{
    background-color: #323639;
}
.residuo:hover{
    background-color: #323639;
}
.potencia:hover{
    background-color: #323639;
}
.delete1:hover{
    background-color: #323639;
}
.siete:hover{
    background-color: #323639;
}
.ocho:hover{
    background-color: #323639;
}
.nueve:hover{
    background-color: #323639;
}
.cuatro:hover{
    background-color: #323639;
}
.cinco:hover{
    background-color: #323639;
}
.seis:hover{
    background-color: #323639;
}
.uno:hover{
    background-color: #323639;
}
.dos:hover{
    background-color: #323639;
}
.tres:hover{
    background-color: #323639;
}
.punto:hover{
    background-color: #323639;
}
.cero:hover{
    background-color: #323639;
}
.resultado:hover{
    background-color: #323639;
}
.dividir:hover{
    background-color: #323639;
}
.menos:hover{
    background-color: #323639;
}
.multiplicar:hover{
    background-color: #323639;
}
.sumar:hover{
    background-color: #323639;
}