html{
    background-color: #0d1321;
    display: grid;
    place-items: center;
}

.base{
    width: 350px;
    height: 600px;
    background-color: #52585c;
}

.base1{
    width: 350px;
    height: 600px;
    background-color: #52585c;
}

.screen{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 350px;
    height: 160px;
    background-color: #2b2d42;
}

.numerosRes{
    display: flex;
    align-items: flex-end;
    background-color: #2b2d42;
    font-size: large;
    max-width: 200px;
    height: 70px;
    color: white;

}

.numeros{
    display: flex;
    align-items: flex-end;
    background-color: #2b2d42;
    font-size: large;
    position: relative;
    max-width: 200px;
    height: 70px;
    color: white;
}

.addNumeros{
    display: flex;
    align-items: flex-end;
    background-color: gray;
    font-size: large;
    width: 20px;
    height: 70px;
    position: relative;
    bottom: 88px;
    left: 200px;
}

.baseOfAll{
    width: 350px;
    height: 440px;
    background-color: #252422;
    display: flex;
    flex-flow: row wrap;

}

button{
    width: 86px;
    height: 87px;
}